<div class="container bg-warning">
        <h2 class="text-center">About </h2>
       
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam alias maxime ut accusamus illum 
            porro ullam sequi aliquam minima eius incidunt dolorem vitae atque, quasi odit nulla illo, sunt
             sed enim. Asperiores, ex? Iste quos neque provident cumque sequi ut nemo, commodi voluptate illum 
             hic harum ullam, aut, quibusdam adipisci.</p>

    <hr>
    <app-directives></app-directives>
</div>
    
