<div class="container bg-warning pb-4">
    <h2 class="text-center">Buy Product</h2>
    
 <div class="alert alert-light border d-flex align-items-center" *ngIf="notClick">
     <strong class="text-success">{{notClick}}</strong> &nbsp; is selected and Added to cart
     <button class="btn btn-success ml-auto">Check out</button>

 </div>
<hr>


<div class="row">
  <div class="col-lg-4 col-md-12">
        <div class="card" style="width:300px">
                <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">Laptop</h4>
                  <button (click)="onSelectProduct('Laptop')"class="btn btn-success">Buy Now</button>
                </div>
        </div>
  </div>
  <div class="col-lg-4 col-md-12">
        <div class="card" style="width:300px">
                <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">Mobile</h4>
                  <button (click)="onSelectProduct('Mobile')"class="btn btn-success">Buy Now</button>
                </div>
        </div>
  </div>

  
  <div class="col-lg-4 col-md-12">
        <div class="card" style="width:300px">
                <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">Tv</h4>
                  
                  <button (click)="onSelectProduct('Tv')"class="btn btn-success">Buy Now</button>
                </div>
        </div>
  </div>

  
        
  </div>
 <app-child [productSelected]="productSelected"
   [selectedProduct]="selectedProduct" (notClick)="onAddedProduct($event)"
   ></app-child>
  
    
 

  

  
</div>

  


