<div class="container bg-warning">
        <h2 class="text-center">Product</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam alias maxime ut accusamus illum porro ullam sequi aliquam minima eius incidunt dolorem vitae atque, quasi odit nulla illo, sunt sed enim. Asperiores, ex? Iste quos neque provident cumque sequi ut nemo, commodi voluptate illum hic harum ullam, aut, quibusdam adipisci.</p>
   
  <hr>
  

  <div class="row">
      <div class="col-lg-4 col-md-12">
            <div class="card" style="width:300px">
                    <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">Laptop</h4>
                      <p class="card-text">Some example text.</p>
                      <a routerLink="laptop" class="btn btn-success">Buy Now</a>
                    </div>
            </div>
      </div>
      <div class="col-lg-4 col-md-12">
            <div class="card" style="width:300px">
                    <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">Mobile</h4>
                      <p class="card-text">Some example text.</p>
                      <a routerLink="mobile" class="btn btn-success">Buy Now</a>
                    </div>
            </div>
      </div>

      
      <div class="col-lg-4 col-md-12">
            <div class="card" style="width:300px">
                    <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">Tv</h4>
                      <p class="card-text">Some example text.</p>
                      <a routerLink="television"  class="btn btn-success">Buy Now</a>
                    </div>
            </div>
      </div>

      <div class="col-lg-4 col-md-12 my-3">
            <div class="card" style="width:300px">
                    <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">Fan</h4>
                      <p class="card-text">Some example text.</p>
                      <a routerLink="laptop"  class="btn btn-success">Buy Now</a>
                    </div>
            </div>
      </div>

      <div class="col-lg-4 col-md-12 my-3">
            <div class="card" style="width:300px">
                    <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">Bed</h4>
                      <p class="card-text">Some example text.</p>
                      <a href="#" class="btn btn-success">Buy Now</a>
                    </div>
            </div>
      </div>
      <div class="col-lg-4 col-md-12 my-3">
            <div class="card" style="width:300px">
                    <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">Washing Machine</h4>
                      <p class="card-text">Some example text.</p>
                      <a href="#" class="btn btn-success">Buy Now</a>
                    </div>
            </div>
      </div>

      

      
  </div>

      
    
