<div class="container bg-info">
    <h2 class="text-center">Home</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam alias maxime ut dam adipisci.</p>

   <br>

    
   <div class="row m-auto">
       <div class="col-md-8">
            <div class="form-group">
                    <input type="text" [(ngModel)]="proname" placeholder="Search" id="" class="form-control">
                </div>
            <table class="table">
                    <thead class="table-header bg-dark text-white">
                        <tr>
                            <th>S.No</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Availability</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pro of products | cpipes:proname">
                           
                                <td>{{pro.sno}}</td>
                                <td>{{pro.name}}</td>
                                <td>{{pro.price}}</td>
                                <td>{{pro.availabilty}}</td>

                        </tr>
                    </tbody>
                </table>

       </div>
   </div>
     
</div>
